.area{
  position: fixed;
  right: 5%;
  top: 8%;
  min-width: 30px;
  min-height: 30px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  overflow: hidden;
  z-index: 9;
}


.tipIcon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url('./images/tips.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 9;
  opacity: 0;
}


.contentWrap{
  opacity: 1;
  width: 12rem;
  height: 12rem;
  background-color: rgba(119, 137, 158,0.9);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  position: relative;
  top: 0;
  left: 0%;
  z-index: 10;
  color: #fff;
  overflow-y: auto;
  z-index: 9;
}

.contentWrap::-webkit-scrollbar{
  width: 0;
}

.closeIcon{
  width: 25px;
  height: 25px;
  background-image: url('./images/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  right: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  z-index: 10;
}

.content{
  width: 88%;
  min-height: 90%;
  padding: 6% 8% 2%;
  text-align: center;
  overflow: scroll;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  font-size: 0.95rem;
  font-weight: bold;
}

.content::-webkit-scrollbar{
  width: 0;
}

.content p{
  text-align: left;
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 2%;
  margin-left: 6%;
}

.content p:nth-child(1){
  margin-top: 5%;
}

@media (max-device-width: 414px) {

  .area{
    right: 1%;
  }

  .tipIcon{
    width: 30px;
    height: 30px;
  }

  .contentWrap{
    width: 60vw;
    height: 30vh;
  }


}
